---

- name: python venv | install packages
  become: true
  ansible.builtin.dnf:
    update_cache: true
    name:
      - "python{{ python_version }}-devel.x86_64"
      - "python{{ python_version }}"
      - "python{{ python_version }}-pip"
      - "python{{ python_version }}-setuptools"
    state: present
    when: python_version in new_python


- name: python3 venv | install packages
  become: true
  ansible.builtin.dnf:
    update_cache: true
    name:
      - python3
      - python3-pip
      - python3-setuptools
    state: present
  when: python_version == "3.9"